.Header {
    font-family: 'The Aesthetic Essential', sans-serif;
    margin-bottom: 0;
    background-image: url("https://img.freepik.com/premium-vector/abstract-waves-shiny-black-moving-lines-design-element-dark-background-satin-drapery-backdrop_440066-573.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}