.Header {
    font-family: 'The Aesthetic Essential', sans-serif;
    margin-bottom: 0;
    background-image: url("https://img.freepik.com/premium-vector/abstract-waves-shiny-black-moving-lines-design-element-dark-background-satin-drapery-backdrop_440066-573.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
video {
    position: absolute;
    margin: 0 auto;
    bottom: 460px
}
.song {
    font-size: 19px;
    width: 14%;
    position: relative;
    margin-left: 35%;
    margin-bottom: 34%;
    text-align: justify;
}